body {
	background-color: #70767C;
	margin: 0;
	font-family: consolas;
}

.menu {
	overflow: hidden;
	border: 1px solid #000;
	background-color: #202730;
}

.menu a {
	color: #A0A0A0;
	cursor: pointer;
}

.menu li {
	list-style-type: none;
	float: left;
	border: none;
	outline: none;
	padding: 14px 16px;
}

.about {
	width: 50%;
	margin: auto;
	background-color: #70767C;
}

.about h1 {margin-left: 16px;}
.about p {margin-left: 16px;}
.about a {margin-left: 16px;}